body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fexible-conten{
    display: flex;
    margin-bottom: 100px;
}
.section-top{
    
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
span{
    color: orange;
}
.half-weidth{
    width: 50%;
    margin-left: 50px;
    text-align: justify;
    font-size: 20px;
}
.half-weidth img{
    width: 75%;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(255, 166, 0), rgb(243, 84, 56));
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
}
.section-dream{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences p{
    text-align: justify;
}
.experiences h1{
    text-align: center;
}
.box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
#box-1{
    border-image: linear-gradient(orange,tomato);
    border-left: 7px solid;
    border-image-slice: 1;
}
#box-2{
    border-image: linear-gradient(blue,cyan);
    border-left: 7px solid;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}